.experimentheader { 
  text-align: left;
}

.containerexperiment {
  margin: 0 auto;
}

/*Lists Experiment*/

.calendarbackground{
  background-color: #F2E7B8;
}

.calendar{
  background-color: white;
  border-radius: 6px;
  margin: 20px auto;
  width: 490px;
}

.calendarmonth{
  background-color: #00a0e5;
  border-radius: 6px 6px 0 0;
  height: 50px;
}

.arrow-1, .arrow-2{
  float: left;
  height: 50px;
  width: 70px;
}

.arrow-1{
  background: url("images/controlbigleft.png") 50% 50% no-repeat;
  background-size: 25px;
}

/*Still need to figure out how to fix h4 height to 50px*/

h4{
  color: white;
  float: left;
  /*height: 50px;*/
  padding-top: 15px;
  text-align: center;
  width: 350px;
}

.arrow-2{
  background: url("images/controlbigright.png") 50% 50% no-repeat;
  background-size: 25px;
}

.weeks li, .days li{
  float: left;
  text-align: center;
  width: 68px;
}

.weeks li{
  background-color: gray;
  border: solid 1px gray;
  border-top: solid 1px gray;
}

.days li{
  border: solid 1px gray;
  height: 48px;
}

/*Gradients Experiment*/
.alertbox {
  border-radius: 6px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px 100px;
  width: 500px;
}

.alert-1 {
  background-color: #00a0e5;
  background: url("images/bulb.png") 20px 50% no-repeat, linear-gradient(to left, #00a0e5 88%, #016d9b 12%);
  /*box-shadow: inset 0 1px 30px #00a0e5;*/
}

.alert-2 {
  background-color: #89d766;
  background: url("images/check.png") 20px 50% no-repeat, linear-gradient(to left, #89d766 88%, #65a14a 12%); 
}

.alert-3 {
  background-color: #ffe562;
  background: url("images/exclamation.png") 28px 50% no-repeat, linear-gradient(to left, #ffe562 88%, #c9b54d 12%); 
}

.alert-4 {
  background-color: #ee6367;
  background: url("images/x.png") 20px 50% no-repeat, linear-gradient(to left, #ee6367 88%, #ba5053 12%);
}

p {
  color: white;
  font-family: "news gothic", arial, sans-serif;
}

strong{
  font-weight: bold;
}

/*Typography Experiment*/
.do {
  background: #3279A7;
  border-radius: 90px;
  color: white;
  font-family: Geneva, Verdana, arial, helvetica, sans-serif;
  font-size: 64px;
  font-variant: small-caps;
  line-height: 120px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline overline;
  width: 120px;
  -webkit-transform: rotate(-4deg); 
  -moz-transform: rotate(-4deg);
}

.whatcontainer {
  background: #3279A7;
  height: 100px;
  width: 420px;
}

.whatyou {
  color: white;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 64px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 96px;
  text-align: center;
  width: 360px;
}

.circle-1, .circle-2 {
  border-radius: 90px;
  background: white;
  height: 10px;
  margin-top: 45px;
  width: 10px;
}

.circle-1 {
  margin-left: 20px;
}
.circle-2 {
  margin-right: 20px;
}

.circle-1, .whatyou, .circle-2 {
  float: left;
}


.love {
  border-bottom: 15px;
  border-top: 15px;
  border-style: double;
  border-color: #3279A7;
  color: #3279A7;
  font-family: 'BenchNine', sans-serif;
  font-size: 280px;
  line-height: 280px;
  /*margin-left: 280px;*/
  width: 420px;
}


