.experimentheader { 
  text-align: left;
}

.containerexperiment {
  margin: 0 auto;
  }

.do {
  background: #3279A7;
  border-radius: 90px;
  color: white;
  font-family: Geneva, Verdana, arial, helvetica, sans-serif;
  font-size: 64px;
  font-variant: small-caps;
  line-height: 120px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline overline;
  width: 120px;
  -webkit-transform: rotate(-4deg); 
  -moz-transform: rotate(-4deg);
}

.whatcontainer {
  background: #3279A7;
  height: 100px;
  width: 420px;
}

.whatyou {
  color: white;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 64px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 96px;
  text-align: center;
  width: 360px;
}

.circle-1, .circle-2 {
  border-radius: 90px;
  background: white;
  height: 10px;
  margin-top: 45px;
  width: 10px;
}

.circle-1 {
  margin-left: 20px;
}
.circle-2 {
  margin-right: 20px;
}

.circle-1, .whatyou, .circle-2 {
  float: left;
}


.love {
  border-bottom: 15px;
  border-top: 15px;
  border-style: double;
  border-color: #3279A7;
  color: #3279A7;
  font-family: 'BenchNine', sans-serif;
  font-size: 280px;
  line-height: 280px;
  /*margin-left: 280px;*/
  width: 420px;
}


.gradients {
  background: url("images/bulb.png") 20px 50% no-repeat, linear-gradient(to left, #00a0e5 88%, #016d9b 12%);
  background-color: #1aaae8;
  border: 1px solid #016d9b;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px 100px;
  width: 500px;
  /*box-shadow: inset 0 1px 30px #00a0e5;*/

}

p {
  color: white;
}