/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: nosne;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fff;
  font-family: helvetica, arial, sans-serif;
}

p {
	font-size: 16px;
	color: #2C2E38;
  margin-left: 150px;
  padding-top: 10px;
}

/*Name*/
h1 {
	font-size: 50px;
	background: #003366;
	color: #FFFFFF;
	margin-left: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

}

 .navcontainer ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	border-bottom: 1px solid #003366;
	text-align: center;
}

.navcontainer ul li {
	display: inline-block
}


/*email and twitter*/
.contact {
	padding-left: 150px;
  color: #595951;
}

/*About, Contact, Education, SKills, Experience*/
h2 {
   font-size: 20px;
   color: #778899;
   margin-left: 5px;
   margin-top:20px;
   margin-bottom: 10px;
}
/*Job Title*/
h3 {
   font-size: 18px;
   font-weight: bold;
   color: #2C2E38;
   margin-left: 150px;
   margin-top: 20px;
}

/*Where worked and year*/
h4 {
   font-size: 18px;
   color: #2C2E38;
   margin-left: 150px;
   margin-bottom: 5px;
}

ul {
   list-style-image: none;
   list-style-position: outside;
   list-style-type: disc;
   padding-left: 170px;
   color: #595951;
 }

.familyimage{
  width: 300px;
  text-align: center;
  margin-top: 50px;
}

.center{
  text-align: center;
  margin-top: 50px;
}

.journalpost{
  margin-left: 0px;
}
