/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*MyCSS*/

body {
	background: #fff;
  line-height: 24px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
	color: #2C2E38;
	font-size: 16px;
}

/*Name*/
h1 {
	background: #003366;
	color: #FFFFFF;
	font-size: 50px;
	padding: 20px 0;
	text-align: center;
  font-family: helvetica, arial, sans-serif;
}



/*About, Contact, Education, SKills, Experience*/
h2 {
   color: #003366;
   font-size: 25px;
   font-family: helvetica, arial, sans-serif;
}

/*Job Title*/
h3 {
   color: #2C2E38;
   font-size: 18px;
   font-weight: bold;
   padding-top: 10px;
   font-family: helvetica, arial, sans-serif;
}

/*Where worked and year*/
h4 {
   color: #2C2E38;
   font-size: 18px;
   font-family: helvetica, arial, sans-serif;
}

ul {
   color: #595951;
   list-style-image: none;
   list-style-position: outside;
   list-style-type: disc;
   padding-left: 18px;
}

.familyimage {
  margin-top: 50px;
  width: 300px;
}

.center {
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  }

.home {
  font-size: 20px;
  line-height: 30px;
  margin: 0 120px;
  padding-top: 20px;
}

.divider {
   border-bottom: 1px solid #003366;
}
.block {
  display: block;
}

/*Clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*Columns*/
.col-1, .col-2 {
  float: left;
  margin: 10px 0;
}

.col-1 {
  width: 240px;
}

.col-2 {
  width: 720px;
}

/*links*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

.navcontainer ul {
  border-bottom: 1px solid #003366;
  list-style-type: none;
  margin: 0;
  padding: 5px 0; 
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.navcontainer li {
  display: inline;
  padding-right: 5px;
}

.main-footer ul {
  border-top: 1px solid #003366;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.main-footer li {
  display: inline;
  padding-right: 10px;
}

.do {
  background: #3279A7;
  border-radius: 90px;
  color: white;
  font-family: Geneva, Verdana, arial, helvetica, sans-serif;
  font-size: 64px;
  font-variant: small-caps;
  line-height: 120px;
  margin: 20px 400px;
  text-decoration: underline overline;
  width: 120px;
  -webkit-transform: rotate(-4deg); 
  -moz-transform: rotate(-4deg);
}

.whatcontainer {
  background: #3279A7;
  margin-left: 280px;
  width: 420px;
  height: 100px;
}

.whatyou {
  color: white;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 64px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 96px;
  text-align: center;
  width: 360px;
}

.circle-1, .circle-2 {
  border-radius: 90px;
  background: white;
  height: 10px;
  margin-top: 45px;
  width: 10px;
}

.circle-1 {
  margin-left: 20px;
}
.circle-2 {
  margin-right: 20px;
}

.circle-1, .whatyou, .circle-2 {
  float: left;
}


.love {
  border-bottom: 1px;
  border-top: 1px;
  border-color: #3279A7;
  color: #3279A7;
  font-family: 'BenchNine', sans-serif;
  font-size: 280px;
  line-height: 280px;
  margin-left: 280px;
  width: 400px;
}
 